.form {
  padding: 2rem;
  width: 70%;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}
label {
  color: #464c72;
}
.alert {
  color: gray;
  cursor: pointer;
}
